/* common styles */
body {
   margin: 0px;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(29, 29, 29);
   /* background-color: rgb(202, 202, 202); */
   color: rgb(235, 235, 235);
}

body > .about-back-ground {
   background-color: rgb(29, 29, 29);
}
  
h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Slab', serif;
}

body > .contact-back-ground {
   background-color: rgb(255, 255, 255);
}
