/* index footer styles */

.index-footer {
    background-color: rgb(201, 201, 201);
    color: rgb(255, 255, 255);
    font-family: "ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 26px 79px -8px rgba(0, 0, 0, 0.58);
    flex-direction: column;
    height: 500px;
    margin-top: -4px;
}
   
.index-footer > .logo-footer img {
    width: 220px;
    height: 100%;
    opacity: 0.5;
}
   
.index-footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
    color:rgb(143, 143, 143);
}
 
.index-footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color:rgb(143, 143, 143);
    text-transform: uppercase;
}
 
.index-footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}
 
.index-footer > .social-media-icons-wrapper a {
    color:rgb(143, 143, 143);
    font-size: 1.5em;
    transition: 0.5s;
}
 
.index-footer > .social-media-icons-wrapper a:hover {
    color:rgba(121, 49, 16, 0.904);
}
 
.index-footer > .links-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
 
.index-footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color:rgb(143, 143, 143)
}

/* about-footer styles */

.about-footer {
    background-color: rgb(29, 29, 29);
    color:rgb(143, 143, 143);
    font-family: "ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0px 26px 79px -8px rgba(0, 0, 0, 0.58); */
    flex-direction: column;
    height: 500px;
    margin-top: -4px;
}
   
.about-footer > .logo-footer img {
    width: 220px;
    height: 100%;
    opacity: 0.5;
}
   
.about-footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}
 
.about-footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color:rgb(143, 143, 143);
    text-transform: uppercase;
}
 
.about-footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}
 
.about-footer > .social-media-icons-wrapper a {
    color:rgb(143, 143, 143);
    font-size: 1.5em;
    transition: 0.5s;
}
 
.about-footer > .social-media-icons-wrapper a:hover {
    color:rgba(121, 49, 16, 0.904);
}
 
.about-footer > .links-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
 
.about-footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color:rgb(143, 143, 143)
}

/* menu footer */

.menu-footer {
    background-color: rgb(29, 29, 29);
    color:rgb(143, 143, 143);
    font-family: "ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0px 26px 79px -8px rgba(0, 0, 0, 0.58); */
    flex-direction: column;
    height: 500px;
    margin-top: -4px;
}
   
.menu-footer > .logo-footer img {
    width: 220px;
    height: 100%;
    opacity: 0.5;
}
   
.menu-footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}
 
.menu-footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color:rgb(143, 143, 143);
    text-transform: uppercase;
}
 
.menu-footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}
 
.menu-footer > .social-media-icons-wrapper a {
    color:rgb(143, 143, 143);
    font-size: 1.5em;
    transition: 0.5s;
}
 
.menu-footer > .social-media-icons-wrapper a:hover {
    color:rgba(121, 49, 16, 0.904);
}
 
.menu-footer > .links-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
 
.menu-footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color:rgb(143, 143, 143)
}

/* Contact Footer Styles */

.contact-footer {
    background-color: rgb(255, 255, 255);
    color:rgb(143, 143, 143);
    font-family: "ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0px 26px 79px -8px rgba(0, 0, 0, 0.58); */
    flex-direction: column;
    height: 500px;
    margin-top: -4px;
}
   
.contact-footer > .logo-footer img {
    width: 220px;
    height: 100%;
    opacity: 0.5;
}
   
.contact-footer > .footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}
 
.contact-footer > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color:rgb(143, 143, 143);
    text-transform: uppercase;
}
 
.contact-footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}
 
.contact-footer > .social-media-icons-wrapper a {
    color:rgb(143, 143, 143);
    font-size: 1.5em;
    transition: 0.5s;
}
 
.contact-footer > .social-media-icons-wrapper a:hover {
    color:rgba(121, 49, 16, 0.904);
}
 
.contact-footer > .links-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
 
.contact-footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color:rgb(143, 143, 143)
}
